{"2024.2": {"usd": 0, "mamma": 0, "transl": 0, "meeting": 0, "damage": 0, "kirov": 0, "who": 0, "team": 0, "git": 0, "help": 0, "opros": 0, "start": 0, "hey_doc": 0, "car_girl": 0, "cyk": 0, "pin": 0, "/29": 0, "russia": 0, "rapid": 0, "discount": 0, "rapid_new": 0},}
